*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}


body{
    font : 18px;
    width: 100%;
    
}



.heading-section{
    background-image: url(images/mobile/image-header.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}



.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between; 
    padding: 2rem 3rem;
    
}


.heading{
    font-family: 'Barlow', sans-serif;
    color: white;
    padding-bottom: 2rem;
    width: 100%;
}

.header a{
     /* font-family: 'Fraunces', serif; */
     font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2rem;
    width: 100px;
    height: 3rem;
    display: block;
    text-align: center;
    
}


.header a:hover{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
}

.header ul{
     list-style: none;
}

.header ul li{
    list-style: none;
}

.nav-bar ul{
    display: block ;
}

.nav-bar ul li{
    margin-left: 1.5rem;
    padding-left: 0.5rem;
}

.heading2{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 5rem;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.5rem;
}

svg{
    position: absolute;
    align-self: center;
    margin-top: 25rem;
}



@media (min-width: 50em){
    .heading-section{
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

    .nav-bar ul{
        display: flex;
    }
    
    
}






@media (min-width: 25em){
    svg{
        position: absolute;
        align-self: center;
        margin-top: 20rem;
    }
}

.Services{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(30rem,  1fr));
    width: 100%;
}


    
.Service.Stand-out-Image.desktop{
 background-image: url(images/desktop/image-stand-out.jpg);
}


.Service.Transform-Image.desktop{
 background-image: url(images/desktop/image-transform.jpg) ;
}




.Transform-text.Service{
    font-family: 'Fraunces', serif;
    display: flex; 
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top:  6rem;
    margin: 5rem auto;
}


.Transform-Text.Service{
    display: block;
}

.headings.Transform{
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 8rem;
    padding-left: 8rem;
    font-size: 2.5rem;
    color: hsl(212, 27%, 19%);
}

.Transform-paragraphs{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 6.5rem;
    padding-right: 4rem;
    line-height: 2rem;
    color: hsl(232, 10%, 55%);
}

.Transform-buttons{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    background-color: white;
    border: none;
    align-self: flex-start;
    margin: 0rem 8rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    position: relative;
    top: 25px;

} 

.Transform-buttons:hover{
   border-bottom: 9px solid yellow; 
}


.Stand-out-text.Service  {
    font-family: 'Fraunces', serif;
    display: flex; 
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top:  6rem;
    margin: 5rem auto;
    
}


 .headings.Stand-out{
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 8rem;
    padding-left: 7rem;
    font-size: 2.5rem;
    color: hsl(212, 27%, 19%)
 }

 .paragraphs.Stand-out{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 6.5rem;
    padding-right: 4rem;
    line-height: 2rem;
    color: hsl(232, 10%, 55%);
}

 .buttons.Stand-out{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    background-color: white;
    border: none;
    align-self: flex-start;
    margin: 0rem 8rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    position: relative;
    top: 25px;
 } 

 .buttons.Stand-out:hover{
    border-bottom: 9px solid red;
 }


 .Service.Graphic-design{
     background-image: url(images/desktop/image-graphic-design.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     min-height: 79vh;
     display: flex;
     
 }


 .Service.Graphic-design-text{
    display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     position: relative;
     bottom: 6rem;
     color:hsl(167, 40%, 24%);
     
 }

 .Graphic-design.headings{
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
 }

 .Graphic-design.paragraphs{
    font-family: 'Barlow', sans-serif;
    margin: 0 10.5rem;
    position: relative;
    top: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
 }







 .Service.Photography{
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 79vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
 }


.Service.Photography-text{
    display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     position: relative;
     bottom: 6rem;
     color:hsl(198, 62%, 26%);
     
}

 .Photography.headings{
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
 }


 .Photography.paragraphs{
    font-family: 'Barlow', sans-serif;
    margin: 0 10.5rem;
    position: relative;
    top: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
 }
 

 .Testimonials-heading{
    font-family: 'Fraunces', serif;
     text-align: center;
     position: relative;
     top: 10rem;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     color: hsl(232, 10%, 55%);
     font-size: 1rem;
     opacity: 0.7;
 }
 
 .Testimonials{
     display: flex;
     height: 100vh;
     /* justify-content:space-around; */
     align-items: center;
      gap: 1rem;
     text-align: center;
     width: 100%;

 }

 .Jennie-img, .Thomas-img, .Emily-img{
     border-radius: 10000rem;
     width: 5rem;
     margin-top: 3rem;
 }


 .Emily-img{
     margin-left: 9rem;
     margin-top: 3rem;
 }


 .Thomas-img{
    margin-left: 6.5rem;
 }


 .Jennie-img{
     margin-left: 2rem;
 
 } 



 .Testimonial-Emily.paragraph,.Testimonial-Thomas.paragraph,.Testimonial-Jennie.paragraph{
    color:hsl(212, 9%, 39%);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 1.7rem;
    margin-top: 3.5rem;
    margin-bottom: 3rem;

 }

 .Testimonial-Jennie.paragraph{
    padding-left: 3rem;
    padding-right: 0.1rem;
    text-align: center;
    position: relative;
    right: 7rem
 }

 .Testimonial-Emily.paragraph{
    padding-left: 8rem;
    padding-right: 0rem;
    text-align: center;
    line-height: 1.7rem;
     position:relative;
    left: 2rem; 
 } 

 .Testimonial-Thomas.paragraph{
     padding-left: 9rem;
     padding-right: 3rem;
    text-align: center;
    line-height: 1.7rem;
    position:relative;
     right: 4rem;
    /* margin-left: 2rem  */
 }




 .Testimonial-Emily.name,.Testimonial-Thomas.name,.Testimonial-Jennie.name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-bottom: 0.5rem;
 }

 .Testimonial-Emily.name{
    padding-left: 11rem;
 }

 .Testimonial-Jennie.name{
     padding-right: 10rem;
 }


 .Testimonial-Thomas.occupation,.Testimonial-Jennie.occupation,.Testimonial-Emily.occupation{
    color:hsl(212, 9%, 39%);
    font-family: 'Barlow', sans-serif;
    opacity: 0.7;
 }

 .Testimonial-Emily.occupation{
     padding-left: 11rem;
 }

 .Testimonial-Jennie.occupation{
     padding-right: 9rem;
 }

 .Pictures{
     display: grid;
     grid-template-columns: repeat( auto-fit, minmax(10rem,  1fr));
 }


.Picture1.mobile{
    background-image: url(images/mobile/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture2.mobile{
    background-image: url(images/mobile/image-gallery-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture3.mobile{
    background-image: url(images/mobile/image-gallery-cone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture4.mobile{
    background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}


@media (min-width: 50em){

 .Picture1.desktop{
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture2.desktop{
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture3.desktop{
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.Picture4.desktop{
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

}

.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-color:hsla(168, 34%, 41%, 90%);
    color:hsl(167, 40%, 24%);
    text-align: center;

}

.footer-heading{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color:hsl(167, 40%, 24%);
    text-align: center;
    margin-top: 5rem;
    font-size: 1.3rem;
}


.footer-nav a{
    /* font-family: 'Fraunces', serif; */
    font-family: 'Barlow', sans-serif;
   text-decoration: none;
   display: flex;
   color:hsl(167, 40%, 24%);
   font-size: 1.2rem;
   margin-top: 2rem;
   
}


.footer-nav a:hover{
    color : white;
    
}

.footer-nav ul{
    list-style: none;
}

.footer-nav ul li{
   list-style: none;
   padding-bottom: 6rem;
}

.footer-nav ul{
   display: flex ;
}

.footer-nav ul li{
   margin-left: 2rem;
   padding-left: 2rem;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 2rem;
    gap: 1rem;
    text-align: center;
    align-self: center;
}

.icon-facebook:hover{
 color : white;
}


